/* Git lens, prettier, dracula official ¿Cmake tools? */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #121212;
}
.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-family: monospace;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 10px;
    color: white;
}

/* .sub {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
} */

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 10px;
    width: 70vw;
}

.img {
    width: 19.55vw;
    height: 19.55vw;
    object-fit: cover;
    transition: 0.8s;
    border-radius: 10px
}

.img:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1); 
}